<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siec.system.mapper.AppProjectMapper">
  <resultMap id="BaseResultMap" type="com.siec.system.model.po.AppProjectPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="personal_info_id" jdbcType="INTEGER" property="personalInfoId" />
    <result column="plan_path" jdbcType="VARCHAR" property="planPath" />
    <result column="approval_status" jdbcType="CHAR" property="approvalStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, title, amount, summary, personal_info_id, plan_path, approval_status, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.siec.system.model.po.AppProjectPo">
    insert into app_project (id, username, title, 
      amount, summary, personal_info_id, 
      plan_path, approval_status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{amount,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{personalInfoId,jdbcType=INTEGER}, 
      #{planPath,jdbcType=VARCHAR}, #{approvalStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.siec.system.model.po.AppProjectPo">
    insert into app_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="personalInfoId != null">
        personal_info_id,
      </if>
      <if test="planPath != null">
        plan_path,
      </if>
      <if test="approvalStatus != null">
        approval_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="personalInfoId != null">
        #{personalInfoId,jdbcType=INTEGER},
      </if>
      <if test="planPath != null">
        #{planPath,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siec.system.model.po.AppProjectPo">
    update app_project
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="personalInfoId != null">
        personal_info_id = #{personalInfoId,jdbcType=INTEGER},
      </if>
      <if test="planPath != null">
        plan_path = #{planPath,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null">
        approval_status = #{approvalStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siec.system.model.po.AppProjectPo">
    update app_project
    set username = #{username,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      personal_info_id = #{personalInfoId,jdbcType=INTEGER},
      plan_path = #{planPath,jdbcType=VARCHAR},
      approval_status = #{approvalStatus,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>